body {
	background: white;
}

body, p, div, a {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

section {
	height: 100vh;
}

.button {
	background: #4985FF;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	width: 200px;
	height: 45px;
    display: flex;
	align-items: center;
	justify-content: center;
}

header.scrolling {
	background: white;
	box-shadow: 0 2px 20px 0 gray;
	
}

/* Header */

header {
	border-bottom: 1px solid black;
	height: 100px;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	background: none;
	z-index: 1;
}

header .container {
	height: 100%;
	display: flex;
	justify-content: flex-end;
}

.menu {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-link {
	height: 100%;
	display: flex;
	align-items: center;
	font-family: Montserrat;
}

.menu-link a {
	color: white;
	text-decoration: none;
}

header.scrolling .menu-link a {
	color: black;
}

.menu-link.active:hover {
	border-bottom: 2px solid white;
}

header.scrolling .menu-link.active:hover {
	border-bottom: 2px solid black;
}

/* HOME */

#home {
	background: url("../img/homeBG (2).png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
/*	background-size: cover;*/
}

#home .container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	color: #FFFFFF;
	max-width: 830px;
}

.home-subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: white;
	margin-top: 20px;
}

.home-content .button {
	margin-top: 50px;
}

.home-btn {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

/* SERVICES */

#services .container {
	display: flex;
	height: 80%;
	width: 80%;
}

.services-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.services-items {
	display: flex;
	align-items: center;
	justify-content: center;
}

.item {
	display: flex;
	justify-content: space-between;
}

.services-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #323232;
	max-width: 739px;
}

.services-subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #999999;
	max-width: 730px;
}

.item-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.item-subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	color: #999999;
}

.services-btn {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

/* ABOUT */

#about {
	background: #F6F6F8;
}

#about .container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100%;
}

.about {
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.about-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	color: #323232;
	max-width: 424px;
}

.about-subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	max-width: 489px;
}

.about-about {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-decoration-line: underline;
	color: #4985FF;
}

.about-mainimg {
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
}

hr {
	background-color: #E0E0E0;
	color: #E0E0E0;
	size: 1px;
	width: 80%;
}

.about-projects {
	display: flex;
	width: 70%;
	max-height: 67px;
	justify-content: space-between;
}

.about-project {
	display: flex;
	flex-direction: column;
	max-height: 67px;
	max-width: 104px;
}

.about-img {
	display: flex;
	max-height: 35px;
	max-width: 104px;
	justify-content: space-between;
	align-items: center;
}

.about-nmb {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: #000000;
}

.about-ourpr {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
}

/* ALL */

#all {
	background: linear-gradient(to top, white 50%, #504DC2 50%);
}

#all .container {
	width: 100%;
	height: 90%;
}

.all-content {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.all-text, .all-img, .all-about {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.all-text {
	align-items: center;
}

.all-about-block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	max-height: 250px;
}

.all-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	color: #FFFFFF;
	max-width: 540px;
}

.all-btn {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

.all-about-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: black;
}



.all-about-subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	color: #999999;
	max-width: 350px;
}

/* PROJECTS */

#projects {
	background: #F6F6F8;
}

#projects .container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.projects-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	justify-content: space-around;
}

.projects-title h2 {
	max-width: 830px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #000000;
}

.projects-subtitle p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #999999;
	max-width: 580px;
}

.projects-img {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.projects-btn {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

.p-img {
	border-radius: 10px;
}

/* VIDEO */

video {
	display: none;
}

.video-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;
	text-align: center;
	color: #FFFFFF;
}

.video-subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	color: #FFFFFF;
}

.video-content {
	max-width: 970px;
	position: relative;
	margin: auto;
}

.video-play {
	position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    left: 0;
}

.video-play a {
	font-family: Montserrat;
	font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
	padding: 20px 40px;
    border: 1px solid white;
    border-radius: 33px;
	text-decoration: none;
	cursor: pointer;
}

.video-play a:hover {
	background: #4985FF;
	border: #4985FF;
	box-shadow: 0px 2px 0px 0px grey;
}

#video {
	background: white;
	background-image: url("../img/videoBG.png");
	background-size: 100% 75%;
	background-repeat: no-repeat;
}

#video .container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.video-work-content {
	display: flex;
	flex-direction: column;
	height: 18.4%;
	width: 100%;
	align-items: center;
	justify-content: center;
}



